@import 'tailwindcss';

@theme {
  --color-honor-blue: rgb(0 103 177);
  --color-honor-btn: rgb(13 162 231);
  --color-honor-darkBlue: rgb(0 79 138);
  --color-honor-gray: rgb(245 245 247);
  --color-honor-green: rgb(33 160 56);
  --color-honor-yellow: rgb(255 221 45);
}
